<% provide(:title, "Home") %>
	<div id="promo">
		<ul class="bxslider">
		  <li><img src="/images/promo1.jpg" alt="Promo1"></li>
		  <li><img src="/images/promo2.jpg" alt="Promo2"></li>
		  <li><img src="/images/promo3.jpg" alt="Promo3"></li>
		</ul>
	</div>
    <%= yield %>

