<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Rails Test App</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="page-home"><a href="/home/index">Home</a></li>
      <li class="page-users"><a href="/users">Users</a></li>
      <li class="page-posts"><a href="/microposts">Posts</a></li>
    </ul>
  </div>
</nav>
